<div class="widgetForm">
  <form #addWidget = "ngForm" (ngSubmit)="postGrid(addWidget.value)">
    <h2>Add widget</h2>
    <div class="mb-3"><input class="form-control" type="text" value="{{formData.location}}" name="location" placeholder="Location" ngModel /></div>
    <div class="mb-3"><input class="form-control" type="number" value="{{formData.wColumn}}" name="column" placeholder="Column" ngModel /></div>
    <div class="mb-3"><input class="form-control" type="number" value="{{formData.wRow}}" name="row" placeholder="Row" ngModel /></div>
    <div class="mb-3"><button class="btn btn-primary" type="submit">send </button></div>
  </form>
</div>

